body{
  background-color: #1f1f1f;
  color: white;
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
}

.container-header{
  display: flex;
  padding: 20px;
  border-bottom: 2px solid color-mix(in srgb, #ffffff, transparent 80% );
  justify-content: space-around;
}
.container-header h1{
  font-size: 20px;
}

.container-header div{
    width: 40%;
}
.container-header .search{
  font-size: 20px;
}

.container-header .search input{
  margin-left: 20px;
  border-radius: 10px;
  width: 70%;
  height: 50%;
  padding: 0 10px;
  border-bottom: 2px solid color-mix(in srgb, #ffffff, transparent 80% );
}
.movie-container{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.movie-container ul{
  padding: 10px;
  list-style: none;
}
.list-movies img{
  width: 100%;
}

.movie-container ul{
  width: 45%;
}